<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="selenium">
    <test name="testSeleniumActions">
        <parameter name="userNumber" value="1"></parameter>
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="session_6.AdvancedActions"></class>
        </classes>
    </test>


</suite> <!-- Suite -->